{
	"port": 8001, 
	"repositories": 
	[{
		"url": "https://github.com/CodeForAsheville/Visual-Town-Budget", 
		"path": "/var/www/vhosts/CodeForAsheville/Visual-Town-Budget",
		"deploy": "echo deploying"
	}, 
	{
		"url": "https://github.com/logsol/Katharsis-Framework",
		"path": "/home/logsol/projects/Katharsis-Framework"
	}]
}
